// Import page-specific CSS files here.
@import "home";
@import "indexlayout";
@import "myprofile";

// reset

.resettest {
    color:#212529;
    text-decoration: none;
}

.resettest:hover {
    color: #212529;
    text-decoration: none;
}

.marginxl {
    margin-top: 100px;
}

