<footer class="p-5 bg-dark text-white text-center position-relative">

<!--Redes Sociales-->
<div class="fs-5">
<ul class="list-unstyled">          
          <!--div class="footer-links"-->
          <a href="#"><i class="fab fa-github fs-2 text-white mr-3"></i></a>
          <a href="#"><i class="fab fa-instagram fs-2 text-white mr-3"></i></a>
          <a href="#"><i class="fab fa-facebook fs-2 text-white mr-3"></i></a>
          <a href="#"><i class="fab fa-linkedin fs-2 text-white mr-3"></i></a>
          <a href="#"><i class="fab fa-twitter fs-2 text-white mr-3"></i></a>
          <!--/div--> 
        </ul>
</div>


<!--Links, FAQs y Proyectos-->
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-light text-decoration-none" href="/" aria-label="Bootstrap">
          <span class="fs-5">Talk/About</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2" >Diseñado con pasión por programadores de <a class="text-white" href="/docs/5.0/about/team/" style="text-decoration:none">Talk/About team</a> con la colaboración "Le Wagon Argentina"
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Home", "/", class:"text-white", style:"text-decoration:none" %></li>
          <li><%= link_to "Todos los eventos", talks_path, class:"text-white", style:"text-decoration:none" %></li>
          <li><%= link_to "Crea tu evento", new_talk_path, class:"text-white", style:"text-decoration:none" %></li>
          <li><%= link_to "Login", new_user_session_path, class:"text-white", style:"text-decoration:none" %></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>FAQs</h5>
        <ul class="list-unstyled">
          <li><a class="text-white" href="#questions" style="text-decoration:none">Costo</a></li>
          <li><a class="text-white" href="#questions" style="text-decoration:none">Puedo crear mi evento</a></li>
          <li><a class="text-white" href="#questions" style="text-decoration:none">Que plataforma usar</a></li>
          <li><a class="text-white" href="#questions" style="text-decoration:none">Crear mi evento</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Proyectos</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="text-white" href="/" style="text-decoration:none">Talk/About 2.0</a></li>
          <li class="mb-2"><a class="text-white" href="/" style="text-decoration:none">Comunidad</a></li>
          <li class="mb-2"><a class="text-white"  href="/" style="text-decoration:none">Eventos solidarios</a></li>
          <li class="mb-2"><a href="home" style="text-decoration:none"></a></li>
          
        </ul>
      </div>
      <div class="col-12 col-lg-2 mb-3">
      </div>
          
  </div>
</footer>
