<div class = "container mt-5">
    <div class="notification">
    <img src='https://avatars.githubusercontent.com/u/46158176?v=4' class="avatar-large" />
    <div class="notification-content">
        <p class="mb-2"><small>Pedro, Esquel</small><i class="fas fa-star ml-3"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p>No lo dudes. <strong>Recomendado 100%</strong>. Me encantó.</p>
    </div>
    </div>

    <div class="notification">
    <img src='https://avatars.githubusercontent.com/u/79029266?v=4' class="avatar-large"/>
    <div class="notification-content">
        <p class="mb-2"><small>Joaquín, CABA</small><i class="fas fa-star ml-3"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p>Esta experiencia fue <strong>Increíble</strong>. Se lo recomiendo a todo el mundo.</p>
    </div>
    </div>

    <div class="notification">
    <img src='https://avatars.githubusercontent.com/u/83969488?v=4' class="avatar-large" />
    <div class="notification-content">
        <p class="mb-2"><small>Jorge, Don Torcuato</small><i class="fas fa-star ml-3"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p><strong>Buenísimo!</strong> Se lo reservé a mi mamá y quedó feliz.</p>
    </div>
    </div>

    <div class="notification">
    <img src='https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1578521170/x8umjo5g7gbh8astwzly.jpg' class="avatar-large" />
    <div class="notification-content">
        <p class="mb-2"><small>Juana, San Miguel</small><i class="fas fa-star ml-3"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p>Reservo todas las semanas y <strong>me encanta!</strong></p>
    </div>


    </div>

  <br>
</div>
