.footer {
  background: #faf9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  padding: 0px 0px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(242, 247, 242);
  opacity: 1;
  text-decoration: none;
  padding: 0px 0px;
}
.footer-links a:hover {
  opacity: 1;
  color:black;
}
.footer .fa-heart {
  color: #edf3ef;
}

.fab {
  color: rgb(214, 218, 17);
  font-size: 20px;
}




